@(message: String, player1: String, style: String = "scala")



@main("") {

@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
      <h1>@message</h1>
  </div>
</section>

<div id="content" class="wrapper doc">
<article>

  <h1>Enter player names:</h1>
    <form method="post" action="@routes.RestController.onAddNewPlayerToGame("Jaromir")">
        Name: <input type="text" placeholder="@player1"/>
        <input type="submit" value="Add Player"/>
    </form>
    <form method="post" action="@routes.RestController.onAddNewPlayerToGame("Julian")">
        Name: <input type="text" placeholder="@player1"/>
        <input type="submit" value="Add Player"/>
    </form>

    <div>
        Name:
            <input type="text" placeholder="Enter 1st player's name..."
                    id="textBoxID" onkeyup="success()">
            <button id="button" onclick="submitName1()"  disabled>Submit</button>
            <p id="demo"></p>
    </div>
    <div>
        Name:
        <input type="text" placeholder="Enter 2nd player's name..."
        id="textBoxID2" onkeyup="success()">
        <button id="button2" onclick="submitName2()" >Submit</button>
        <p id="demo"></p>
    </div>
    <script>

        function getName() {
            return @player1
        }
        function success() {
            if(document.getElementById("textBoxID").value===""){
                document.getElementById('button').disabled = true;
            } else {
                document.getElementById('button').disabled = false;
            }

        }

        function submitName1() {
            console.log("here")
            let x = document.getElementById("textBoxID").value;
            document.getElementById("demo").innerHTML = x;
            document.getElementById("textBoxID").value = ""
            window.location.href = 'http://localhost:9000/onAddNewPlayerToGame/' + x
            po
        }
        function submitName2() {
            let x = document.getElementById("textBoxID2").value;
            document.getElementById("demo").innerHTML = x;
            document.getElementById("textBoxID2").value = ""
            window.location.href = 'http://localhost:9000/onAddNewPlayerToGame/' + x
        }
    </script>
    <br><br>
    <button id="startQuestButton" onclick="window.location.href = 'http://localhost:9000/onStartGame';">Start Quest</button>
    <button onclick="window.location.href = 'http://localhost:9000/onQuitGame';">Quit game</button>
</article>

</div>
}
}
