@(message: String, player1: String, style: String = "scala")

@main("") {

    @defining(play.core.PlayVersion.current) { version =>

    <section id="top">
      <div class="wrapper">
          <h1>@message</h1>
      </div>
    </section>

    <div align="center" id="content" class="wrapper doc">
    <article>

      <h3>Enter player names:</h3>
        <form method="post" action="@routes.RestController.onStartGame()">
            <label for="player2">Player1:</label>
            <input type="text" name="player1" id="player1" autofocus="autofocus" autocomplete="off" placeholder="Enter name..."/>
            <br><br>
            <label for="player2">Player2:</label>
            <input type="text" name="player2" id="player2" autocomplete="off" placeholder="Enter name..."/>
            <br><br>
            <input style="background-color: lightskyblue" type="submit" value="Start Game">
        </form>

    </article>
    </div>
    }
}