@(
    message: String,
    roundNr: Int,
    playersName: String,
    playersPoints: String,
    currentQuestion: Option[String],
    currentAnswers: List[String],
    style: String = "scala"
)

@main("") {

    @defining(play.core.PlayVersion.current) { version =>

    <section id="top">
      <div align="center" class="wrapper">
          <h1>@message</h1>
      </div>
    </section>

    <div align="center" id="content" class="wrapper doc">
        <article>
            <strong>Round @roundNr: </strong> <!-- getRoundNr()-->
            <em>@playersName (@playersPoints pts)</em> <!-- getPlayerInfo()-->

            <hr>

            <label><strong>@currentQuestion</strong></label> <!-- getPlayersCurrentQuestion() -->

            <div>
                @for((ans, index) <- currentAnswers.zipWithIndex) {
                    <!--<button type="text">@{index+1}) @ans</button>-->
                    <label><b>@{index+1})</b> @ans</label>
                    <br>
                }
                <br>
                <form method="post" action="@routes.RestController.onProcessAnswer()">
                    <input type="text" name="answer" id="userInput"
                    autocomplete="off" autofocus="autofocus" placeholder="Enter your answer..."/>
                    <input type="submit" value="Answer">
                </form>
            </div>

            <hr>

            <button style="background-color: lightskyblue"
                    onclick="window.location.href = 'http://localhost:9000/onQuitGame';"
            >
                Quit game
            </button>
        </article>
    </div>
    }
}