@(
    message: String,
    roundNr: Int,
    playersName: String,
    playersPoints: String,
    currentQuestion: Option[String],
    currentAnswers: List[String],
    style: String = "scala"
)

@main("") {

@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
      <h1>@message</h1>
  </div>
</section>

<div id="content" class="wrapper doc">
<article>

    <h1>Round @roundNr</h1> <!-- getRoundNr()-->

    <h2>@playersName (@playersPoints pts)</h2> <!-- getPlayerInfo()-->

    <hr>

    <h2>Question: @currentQuestion</h2> <!-- getPlayersCurrentQuestion() -->

    <div>
        @for((ans, index) <- currentAnswers.zipWithIndex) {
            <button type="text">@{index+1} : @ans</button>
            <br>
        }
        <br>
        <form method="post" action="@routes.RestController.onProcessAnswer()">

            <input type="text" name="answer" id="userInput" placeholder="Enter your answer..."/>
            <input type="submit" value="Answer">
        </form>
        <br><br><br><br>
    </div>

    <script>
        function getAnswers() {
            <!-- answers onClick if more rounds send play_game, otherwise send show results-->
        }
    </script>

    <hr>

    <button onclick="window.location.href = 'http://localhost:9000/onQuitGame';">Quit game</button>
</article>

</div>
}
}
