@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@*//@helper.form(action = routes.RestController.test()) {*@
@*//    @helper.textarea(myForm("textarea"))*@
@*//}*@
@main("") {
    <h1 style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
        @message
    </h1>

    <form method="post" action="@routes.RestController.doLogin()">
        <label for="username">username:</label>
        <input type="text" name="username" id="username">
        <label for="password">password:</label>
        <input type="text" name="password" id="password">
        <input type="submit" value="Submit form">
    </form>
}


